list-view contact-form {
  flex-shrink: 0;
  width: 25em;
}

@media (max-width: 700px) {
  list-view.editing .toolbar,
  list-view.editing .grid {
    display: none;
  }

  list-view.editing contact-form {
    width: 100%;
  }
}
